html, body{
 	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background:
    	url(https://cdn.pixabay.com/photo/2018/03/03/19/29/skyscraper-3196390_960_720.jpg);
    	background-repeat: repeat;
    	background-size: cover;
    	background-attachment: fixed;
}

h1, p {

	text-align: center;
}



